<div class="voca_main">
  <div class="load_page_btn_area">
    <input type="button" value="홈으로" class="btn btn-outline-dark" onclick="location.href='/voca'">
    <form action="/voca/voca_study" method="post" class="din">
      <input type="hidden" name="fl_id" value="<%= fl_id %>" />
      <input type="submit" value="공부하기" class="btn btn-outline-dark">
    </form>
    <form action="/voca/create_data_page" method="post" class="din">
      <input class="btn btn-outline-dark" type="submit" value="단어or표현추가" />
      <input type='hidden' name='fl_id' value='<%= fl_id %>' />
      <input type='hidden' name='fd_id' value='<%= fd_id %>' />
    </form>
  </div>
  <input type="hidden" id="selected_data" />
  <input type="hidden" id="selected_data_id" />
  <% for(let i=0; i<loadlist.length; i++){ %>
    <div class="loaded_data" id="shown_id<%- i %>">
      <span class="datanum"><%- i+1 %></span>
      <input type="hidden" id="data_id<%- i %>" value="<%= loadlist[i].data_id %>" />
      <div class="data_box">
        <div class="data_type data_underline">
          단어or표현
        </div>
        <div class="data data_underline">
          <b id="shown_voca<%- i %>"><%= loadlist[i].voca %></b>
        </div>
      </div>
      <div class="data_box">
        <div class="data_type data_underline">
          단어 뜻  
        </div>
        <div class="data data_underline" id="shown_voca_mean<%- i %>">
          <%= loadlist[i].voca_mean %>
        </div>
      </div>
      <div class="data_box">
        <div class="data_type data_underline">
          예문   
        </div>
        <div class="data data_underline" id="shown_exam<%- i %>">
          <%= loadlist[i].exam %>
        </div>
      </div>
      <div class="data_box">
        <div class="data_type">
          예문 뜻  
        </div>
        <div class="data" id="shown_exam_mean<%- i %>">
          <%= loadlist[i].exam_mean %>
        </div>
      </div>
      <input type="button" value="수정" class="btn btn-outline-secondary" onclick="modVoca(document.getElementById('shown_voca<%- i %>').innerText,document.getElementById('shown_voca_mean<%- i %>').innerText,document.getElementById('shown_exam<%- i %>').innerText,document.getElementById('shown_exam_mean<%- i %>').innerText,document.getElementById('data_id<%- i %>').value,'<%- i %>')" data-bs-toggle="modal" data-bs-target="#ModifyDataModal">
      <input type="button" value="삭제" class="btn btn-outline-secondary" onclick="delVoca(document.getElementById('data_id<%- i %>').value,'<%- i %>')" data-bs-toggle="modal" data-bs-target="#deleteDataModal" />
    </div>
  <% } %>
</div>

<div class="modal fade" id="ModifyDataModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">데이터 변경</h5>
      </div>
      <div class="modal-body">
        <div class="mod_data_grid"><b>단어or표현</b><textarea class="form-control data_input is-val" name="voca"  id="modvocaid" minlength="1"  maxlength="101" ></textarea></div>
        <div class="mod_data_grid"><b>단어 뜻</b><textarea class="form-control data_input" name="voca_mean" id="modvmid" maxlength="100"></textarea></div>
        <div class="mod_data_grid"><b>예문</b><textarea class="form-control data_input" name="exam" id="modexamid" maxlength="1000"></textarea></div>
        <div class="mod_data_grid"><b>예문 뜻</b><textarea class="form-control data_input" name="exam_mean" id="modemid" maxlength="1000"></textarea></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="close_mod_btn">닫기</button>
        <button type="button" class="btn btn-primary" id="modvocabtn" disabled>변경하기</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteDataModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">데이터 삭제</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        정말 삭제하시겠습니까?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="close_del_btn">취소</button>
        <input type="button" class="btn btn-primary" value="삭제" id="delvocabtn" />
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById('modvocaid').addEventListener('keyup', () => {
    isValid('text','modvoca',100)
  })
  function modVoca(voca,voca_mean,exam,exam_mean,data,i){
    document.getElementById("modvocaid").value = voca
    document.getElementById("modvmid").value = voca_mean
    document.getElementById("modexamid").value = exam
    document.getElementById("modemid").value = exam_mean
    document.getElementById("selected_data_id").value =data
    document.getElementById("selected_data").value = i
  }

  document.getElementById("modvocabtn").addEventListener("click", () => {
    fetch("/voca/modify_data",{
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        dt_id: document.getElementById("selected_data_id").value,
        voca: document.getElementById("modvocaid").value,
        voca_mean: document.getElementById("modvmid").value,
        exam: document.getElementById("modexamid").value,
        exam_mean: document.getElementById("modemid").value,
      }),
    })
    .then((res)=>{
      toastLive.style = "display:block";
      toastMsg.innerText = "수정 완료";
      document.getElementById("close_mod_btn").click();
      document.getElementById("shown_voca"+document.getElementById("selected_data").value).innerText = document.getElementById("modvocaid").value
      document.getElementById("shown_voca_mean"+document.getElementById("selected_data").value).innerText = document.getElementById("modvmid").value
      document.getElementById("shown_exam"+document.getElementById("selected_data").value).innerText = document.getElementById("modexamid").value
      document.getElementById("shown_exam_mean"+document.getElementById("selected_data").value).innerText = document.getElementById("modemid").value
    })
  })

  function delVoca(data,i){
    document.getElementById("selected_data_id").value = data
    document.getElementById("selected_data").value = i
  }

  document.getElementById("delvocabtn").addEventListener("click", () => {
    fetch("/voca/delete_data",{
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        dt_id: document.getElementById("selected_data_id").value,
      }),
    })
    .then((res)=>{
      toastLive.style = "display:block";
      toastMsg.innerText = "삭제 완료";
      document.getElementById("close_del_btn").click();
      document.getElementById("shown_id"+document.getElementById("selected_data").value).style = "display:none"
    })
  })
</script>