<div class="voca_main">
  <div class="load_page_btn_area">
    <button class="btn btn-outline-dark" id="voca_search_gohome_id">홈으로</button>
  </div>
  <div>
    <h5 class="text-center mt-5">검색 키워드 : <%= keyword %></h5>
    <h3 class="text-center mt-5" id="loaded_area"></h3>
    <% for(let i=0; i<loadlist.length; i++){ %>
      <div class="loaded_data" data-scroll>
        <span class="datanum"><%- i+1 %></span><span id="sha_data_user<%- i %>" class="float-end"></span>
        <div class="data_box"><div class="data_type data_underline">단어or표현
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-volume-down-fill mb-1 cursor" viewBox="0 0 16 16" onclick="tts('<%= loadlist[i].data_id %>','voca')">
            <path d="M9 4a.5.5 0 0 0-.812-.39L5.825 5.5H3.5A.5.5 0 0 0 3 6v4a.5.5 0 0 0 .5.5h2.325l2.363 1.89A.5.5 0 0 0 9 12V4zm3.025 4a4.486 4.486 0 0 1-1.318 3.182L10 10.475A3.489 3.489 0 0 0 11.025 8 3.49 3.49 0 0 0 10 5.525l.707-.707A4.486 4.486 0 0 1 12.025 8z"/>
          </svg>
        </div><div class="data data_underline"><b id="load_voca_id<%- i %>"><%= loadlist[i].voca %></b></div></div>
        <div class="data_box"><div class="data_type data_underline">단어 뜻  </div><div class="data data_underline" id="load_vm_id<%- i %>"><%= loadlist[i].voca_mean %></div></div>
        <div class="data_box"><div class="data_type data_underline">예문
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-volume-down-fill mb-1 cursor" viewBox="0 0 16 16" onclick="tts('<%= loadlist[i].data_id %>','exam')">
            <path d="M9 4a.5.5 0 0 0-.812-.39L5.825 5.5H3.5A.5.5 0 0 0 3 6v4a.5.5 0 0 0 .5.5h2.325l2.363 1.89A.5.5 0 0 0 9 12V4zm3.025 4a4.486 4.486 0 0 1-1.318 3.182L10 10.475A3.489 3.489 0 0 0 11.025 8 3.49 3.49 0 0 0 10 5.525l.707-.707A4.486 4.486 0 0 1 12.025 8z"/>
          </svg>
        </div><div class="data data_underline"><%= loadlist[i].exam %></div></div>
        <div class="data_box"><div class="data_type">예문 뜻  </div><div class="data"><%= loadlist[i].exam_mean %></div></div>
      </div>
      <script>
        if('<%= user %>' == 1){
          fetch("/voca/shared_user",{
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              user_id: '<%= loadlist[i].user_id %>',
            }),
          })
          .then((res) => res.json())
          .then((nick) => {
            document.getElementById("sha_data_user<%- i %>").innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
              <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
            </svg>` + nick.nickname
          })
        }
      </script>
    <% } %>
  </div>
</div>
<script>
  document.getElementById('voca_search_gohome_id').addEventListener('click', () => {
    location.href='/'
  })
  if(!'<%= loadlist %>'){
    document.getElementById("loaded_area").innerText = '검색 결과가 없습니다'
  }
</script>