<div class="voca_main">
  <div class="load_page_btn_area">
    <button class="btn btn-outline-dark" id="voca_search_gohome_id">홈으로</button>
  </div>
  <% for(let i=0; i<loadlist.length; i++){ %>
    <div class="loaded_data">
      <span class="datanum"><%- i+1 %></span>
      <div class="data_box"><div class="data_type data_underline">단어or표현   </div><div class="data data_underline"><b><%= loadlist[i].voca %></b></div></div>
      <div class="data_box"><div class="data_type data_underline">단어 뜻  </div><div class="data data_underline"><%= loadlist[i].voca_mean %></div></div>
      <div class="data_box"><div class="data_type data_underline">예문  </div><div class="data data_underline"><%= loadlist[i].exam %></div></div>
      <div class="data_box"><div class="data_type">예문 뜻  </div><div class="data"><%= loadlist[i].exam_mean %></div></div>
    </div>
  <% } %>
</div>
<script>
  document.getElementById('voca_search_gohome_id').addEventListener('click', () => {
    location.href='/'
  })
</script>