<div class="voca_main">
  <div class="load_page_btn_area ">
    <input type="button" value="홈으로" class="btn btn-outline-dark" onclick="location.href='/voca'">
    <label class="switch" id="all-switch">
      <input type="checkbox" class="switch-input" id="all_checkbox_id">
      <span class="switch-label" data-on="전체숨기기" data-off="전체보이기"></span>
      <span class="switch-handle"></span>
    </label>
  </div>
  <% for(let i=0; i<loadlist.length; i++){ %>
    <div class="loaded_data" data-scroll>
      <span class="datanum"><%- i+1 %></span>
      <div class="data_box">
        <div class="data_type data_underline">단어or표현
        </div>
        <div class="data data_underline">
          <label class="switch">
            <input type="checkbox" class="switch-input" id="vocaid<%- i %>" onclick="isChecked('<%- i %>','voca')">
            <span class="switch-label" data-on="숨기기" data-off="보이기"></span>
            <span class="switch-handle"></span>
          </label>
          <b><span class="study_data dnone" id="voca_id<%- i %>"><%= loadlist[i].voca %></span></b>
        </div>
      </div>
      <div class="data_box">
        <div class="data_type data_underline">단어 뜻  
        </div>
        <div class="data data_underline">
          <label class="switch">
            <input type="checkbox" class="switch-input" id="voca_meanid<%- i %>" onclick="isChecked('<%- i %>','voca_mean')">
            <span class="switch-label" data-on="숨기기" data-off="보이기"></span>
            <span class="switch-handle"></span>
          </label>
          <span class="study_data dnone" id="voca_mean_id<%- i %>"><%= loadlist[i].voca_mean %>
          </span>
        </div>
      </div>
      <div class="data_box">
        <div class="data_type data_underline">예문
        </div>
        <div class="data data_underline">
          <label class="switch">
            <input type="checkbox" class="switch-input" id="examid<%- i %>" onclick="isChecked('<%- i %>','exam')">
            <span class="switch-label" data-on="숨기기" data-off="보이기"></span>
            <span class="switch-handle"></span>
          </label>
          <span class="study_data dnone" id="exam_id<%- i %>"><%= loadlist[i].exam %>
          </span>
        </div>
      </div>
      <div class="data_box">
        <div class="data_type data_underline">예문 뜻  
        </div>
        <div class="data data_underline">
          <label class="switch">
            <input type="checkbox" class="switch-input" id="exam_meanid<%- i %>" onclick="isChecked('<%- i %>','exam_mean')">
            <span class="switch-label" data-on="숨기기" data-off="보이기"></span>
            <span class="switch-handle"></span>
          </label>
          <span class="study_data dnone" id="exam_mean_id<%- i %>"><%= loadlist[i].exam_mean %>
          </span>
        </div>
      </div>
      <div class="data_box">
        <div class="data_type">따라읽기</div>
        <div class="data">
          <button type="button" class="btn btn-outline-secondary btn-sm" onclick="shadowing('<%- i %>')">
            반복 
            <span class="badge text-bg-secondary" id="countNum<%- i %>">0</span>
          </button>
          <button type="button" class="btn btn-outline-secondary btn-sm ms-1" onclick="refreshing('<%- i %>')">
            초기화
          </button>
        </div>
      </div>
    </div>
  <% } %>
</div>
<script>
  const isChecked = (i,what) => {
    const checkbox = document.getElementById(what+"id"+i);
    const is_checked = checkbox.checked;
    if(is_checked){
    document.getElementById(what+'_id'+i).style = "display:inline"
    }else{
      document.getElementById(what+'_id'+i).style = "display:none"
    }
  }
  
  const showAll = () =>{
    const is_allchecked = document.getElementById('all_checkbox_id').checked;
    const classlist = document.getElementsByClassName('study_data');
    if(is_allchecked){
      for(let i=0; i<classlist.length; i++){
        classlist[i].style = "display:inline"
      }      
    }else{
      for(let i=0; i<classlist.length; i++){
        classlist[i].style = "display:none"
      }
    }
  }

  const shadowing = (i) => {
    let count = Number(document.getElementById('countNum'+i).innerHTML)
    count ++;
    document.getElementById('countNum'+i).innerText = count;
  }

  const refreshing = (i) => {
    document.getElementById('countNum'+i).innerText = 0;
  }

  document.getElementById('all_checkbox_id').addEventListener('click', showAll)
  
</script>