<div class="voca_main">
  <div class="container-fluid">
    <div class="f_wrapper">
      <div class="folder_wrapper">
        <div class="now_folder">
          <div class="now_folder_location ">
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-folder2-open" viewBox="0 0 16 16">
                <path d="M1 3.5A1.5 1.5 0 0 1 2.5 2h2.764c.958 0 1.76.56 2.311 1.184C7.985 3.648 8.48 4 9 4h4.5A1.5 1.5 0 0 1 15 5.5v.64c.57.265.94.876.856 1.546l-.64 5.124A2.5 2.5 0 0 1 12.733 15H3.266a2.5 2.5 0 0 1-2.481-2.19l-.64-5.124A1.5 1.5 0 0 1 1 6.14V3.5zM2 6h12v-.5a.5.5 0 0 0-.5-.5H9c-.964 0-1.71-.629-2.174-1.154C6.374 3.334 5.82 3 5.264 3H2.5a.5.5 0 0 0-.5.5V6zm-.367 1a.5.5 0 0 0-.496.562l.64 5.124A1.5 1.5 0 0 0 3.266 14h9.468a1.5 1.5 0 0 0 1.489-1.314l.64-5.124A.5.5 0 0 0 14.367 7H1.633z"/>
                </svg>
              </span>
              <span id="not_root" class="d-none">
                <span>
                  <%= pr_name %>
                </span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-chevron-compact-right"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"
                  />
                </svg>
              </span>
              <span id="selected_folder_name">
                <%= fd_name %>
              </span>
          </div>

          <div class="btn_row">
            <button type="button" class="btn btn-light fd_btn d-block" data-bs-toggle="modal" data-bs-target="#AddFileModal">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journal-plus" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5z"/>
                <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
                <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
              </svg>  단어장 생성
            </button>

            <div class="dropdown">
              <button class="btn btn-light fd_btn dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                폴더 기능 선택
              </button>
              <ul class="dropdown-menu text-center  dropdown-menu-end">
                <li class="dropdown-item cursor" data-bs-toggle="modal" data-bs-target="#AddFolderModal">
                    <i class="fa-solid fa-folder-plus"></i>  하위 폴더 생성
                </li>
                <div id="folder_btn_group" class="d-none">
                  <li><hr class="dropdown-divider"></li>
                  <li class="dropdown-item cursor" data-bs-toggle="modal" data-bs-target="#ModifyFolderModal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-folder-symlink" viewBox="0 0 16 16">
                      <path d="m11.798 8.271-3.182 1.97c-.27.166-.616-.036-.616-.372V9.1s-2.571-.3-4 2.4c.571-4.8 3.143-4.8 4-4.8v-.769c0-.336.346-.538.616-.371l3.182 1.969c.27.166.27.576 0 .742z"/>
                      <path d="m.5 3 .04.87a1.99 1.99 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14h10.348a2 2 0 0 0 1.991-1.819l.637-7A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2zm.694 2.09A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09l-.636 7a1 1 0 0 1-.996.91H2.826a1 1 0 0 1-.995-.91l-.637-7zM6.172 2a1 1 0 0 1 .707.293L7.586 3H2.19c-.24 0-.47.042-.683.12L1.5 2.98a1 1 0 0 1 1-.98h3.672z"/>
                    </svg>  폴더명 변경
                  </li>
                  <li><hr class="dropdown-divider"></li>
                  <li class="dropdown-item cursor" data-bs-toggle="modal" data-bs-target="#DeleteFolderModal" id="del_check_btn">
                    <i class="fa-solid fa-folder-minus"></i>  현재 폴더 삭제
                  </li>
                  <li><hr class="dropdown-divider"></li>
                  <li class="dropdown-item cursor" id="fd_fav_btn">
                    <img class="icon2" src="/icons/star<%= fav %>.png" id="fd_fav_img" />
                    <span id="fd_fav_words"></span>
                  </li>
                  <li><hr class="dropdown-divider"></li>
                  <li class="dropdown-item cursor" data-bs-toggle="modal" data-bs-target="#ShareFolderModal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share" viewBox="0 0 16 16">
                      <path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z"/>
                    </svg>
                    <span id="fd_sh_words"></span>
                  </li>
                  <li><hr class="dropdown-divider"></li>
                  <li class="dropdown-item cursor" data-bs-toggle="modal" data-bs-target="#MoveFolderModal" onclick="selectMove2('<%= fd_id %>','<%= pr_id %>','<%= fd_name %>')">
                    <i class="fa-solid fa-folder-tree"></i>
                    폴더 이동
                  </li>
                </div>
              </ul>
            </div> 
          </div>
        </div>
        
        <div class="fold">
          <span class="fold_icon">
            <button type="button" id="downbtn" class="btn btn-secondary dnone">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrows-expand" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8zM7.646.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 1.707V5.5a.5.5 0 0 1-1 0V1.707L6.354 2.854a.5.5 0 1 1-.708-.708l2-2zM8 10a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 14.293V10.5A.5.5 0 0 1 8 10z"/>
              </svg>  하위 폴더 열기
            </button>
          </span>
          <span class="fold_icon">
            <button type="button" id="upbtn" class="btn btn-secondary">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrows-collapse" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8zm7-8a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 4.293V.5A.5.5 0 0 1 8 0zm-.5 11.707-1.146 1.147a.5.5 0 0 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 11.707V15.5a.5.5 0 0 1-1 0v-3.793z"/>
              </svg>
                하위 폴더 접기
            </button>
          </span>
          <span class="fold_icon"></span>
        </div>
        <div class="folder_list_wrapper" id="folder_list_wrapper_id">
          <form action="/voca/main" method="post">
            <button class="btn folder cursor d-none" id="redirect_back" type="submit">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4z"/>
              </svg> 상위 폴더로
            </button>
            <input type="hidden" name="fd_id" value="<%= pr_id %>" />
            <input type="hidden" name="pr_id" value="<%= gpr_id %>" />
          </form>
          <% for(let i=0; i<folder.length; i++){ %>
            <form action="/voca/main" method="post">
              <button class="folder cursor" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16">
                  <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4H2.19zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z"/>
                </svg>
                <%= folder[i].folder_name %>
              </button>
              <input type="hidden" name="fd_id" value="<%= folder[i].folder_id %>" />
              <input type="hidden" name="pr_id" value="<%= folder[i].parent_id %>" />
            </form>
          <% } %>
        </div>
      </div>
      
      <div class="file_wrapper text-center">
        <div class="container-fluid text-center d-flex flex-column position-relative">
          <div class="dropdown position-absolute top-0 end-0 me-2">
            <button class="btn btn-outline-light border text-secondary dropdown-toggle" id="order_btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list mb-1" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
              </svg>
              정렬 순서
            </button>
            <ul class="dropdown-menu">
              <li><button class="dropdown-item active" id="select_order_id1" onclick='selectFolder(document.getElementById("selected_folder").value,
                document.getElementById("parent_folder").value,
                document.getElementById("now_folder_name").value,
                document.getElementById("folder_favorites").value,
                document.getElementById("folder_shared").value,0
                )'>생성 날짜순</button></li>
              <li><button class="dropdown-item" id="select_order_id2" onclick='selectFolder(document.getElementById("selected_folder").value,
                document.getElementById("parent_folder").value,
                document.getElementById("now_folder_name").value,
                document.getElementById("folder_favorites").value,
                document.getElementById("folder_shared").value,1
                )'>최신순</button></li>
              <li><button class="dropdown-item" id="select_order_id3" onclick='selectFolder(document.getElementById("selected_folder").value,
                document.getElementById("parent_folder").value,
                document.getElementById("now_folder_name").value,
                document.getElementById("folder_favorites").value,
                document.getElementById("folder_shared").value,2
                )'>이름순</button></li>
            </ul>
          </div>
          <div class="voca_file_list file_row mt-5" id="file_list_wrapper_id">
            <% for(let i=0; i<file.length; i++){ %>
                <div class="voca_file text-center" id="file_id<%- file[i].file_id %>">                    
                    <div class="fileTitle">
                      <button class="icon_btn cursor" onclick="goFav('<%= file[i].file_id %>','<%- i %>')"><img src="/icons/star<%= file[i].favorites %>.png" class="icon" id="file_fav_img<%- i %>" /></button>
                      <h6 id="file_name<%- file[i].file_id %>"><%= file[i].file_name %></h6>
                      <div class="btn-group dropend dropbtn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="dropdown-toggle bi bi-three-dots-vertical dot3" viewBox="0 0 16 16"  data-bs-toggle="dropdown" aria-expanded="false">
                          <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                        </svg>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#ModifyFileModal" onclick="selectFile('<%= file[i].file_id %>')">단어장명 변경</a></li>
                        <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#DeleteFileModal" onclick="selectFile('<%= file[i].file_id %>')">단어장 삭제</a></li>
                        <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#MoveFileModal" onclick="selectFile('<%= file[i].file_id %>'),selectMove('<%= fd_id %>','<%= pr_id %>','<%= fd_name %>')">단어장 이동</a></li>
                        <li>
                          <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#ShareFileModal" onclick="sharingFile('<%= file[i].file_id %>','<%= file[i].shared %>','<%= i %>')" id="share_file_btn_id<%- i %>">
                            <% if(file[i].shared == 0){ %>
                            단어장 공유
                            <% }else{ %>
                            공유 해제하기
                            <% } %>
                          </a>
                        </li>
                      </ul>
                    </div>
                    </div>
                    <div class="filebtnRow">
                      <form action="/voca/voca_load" method="post" name="loadingvoca">
                        <input type="hidden" name="fl_id" value="<%= file[i].file_id %>" />
                        <input type="hidden" name="fl_name" value="<%= file[i].file_name %>" />
                        <input type="hidden" name="fd_id" value="<%= file[i].folder_id %>" />
                        <input type="hidden" name="pr_id" value="<%= pr_id %>" />
                        <input type="submit" class="btn btn-outline-secondary file_btn" value="열기" />
                      </form>
                      <form action="/voca/voca_study" method="post" name="studyingvoca">
                        <input type="hidden" name="fl_id" value="<%= file[i].file_id %>" />
                        <input type="hidden" name="fl_name" value="<%= file[i].file_name %>" />
                        <input type="hidden" name="fd_id" value="<%= file[i].folder_id %>" />
                        <input type="hidden" name="pr_id" value="<%= pr_id %>" />
                        <input type="submit" class="btn btn-outline-secondary file_btn" value="공부">
                      </form>
                    </div>
                </div>
              <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 모달 -->

<div class="modal fade" id="AddFolderModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">폴더 생성</h5>
      </div>
      <div class="modal-body">
        <form action="/voca/create_folder" method="post" id="create_folder_form">
          <input type="text" placeholder="추가하실 폴더이름을 입력해주세요" name="new_fd_name" id="newfolderid" class="form-control is-val w100"  minlength="1" maxlength="21"  />
          <input type="hidden" name="fd_id" value="<%= fd_id %>" />
          <input type="hidden" name="pr_id" value="<%= pr_id %>" />
        </form>
        <div class="invalid-feedback">
          폴더명은 1~20자로 해주세요
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="add_folder_cancle">닫기</button>
        <button type="button" class="btn btn-primary" id="newfolderbtn" disabled>생성하기</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="AddFileModal" tabindex="-1"  aria-hidden="true">
  <form action="/voca/create_file" method="post" id="new_file_form">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">단어장 생성</h5>
        </div>
        <div class="modal-body">
          <input type="text" name="new_fl_name" placeholder="추가하실 단어장 이름을 입력해주세요" id="newfileid" class="form-control is-val w100" minlength="1" maxlength="21" />
          <input type="hidden" name="fd_id" id="new_fl_fd_id" />
          <div class="invalid-feedback">
            단어장명은 1~20자로 해주세요
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
          <button type="button" class="btn btn-primary" id="newfilebtn" disabled>생성하기</button>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="modal fade" id="ModifyFolderModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">폴더명 변경</h5>
      </div>
      <div class="modal-body">
        <input type="text" name="new_fd_name" placeholder="변경하실 폴더 이름을 입력해주세요" id="modfolderid" class="form-control is-val w100" minlength="1" maxlength="21" />
        <div class="invalid-feedback">
          폴더명은 1~20자로 해주세요
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="mod_folder_cancle">닫기</button>
        <button type="button" class="btn btn-primary" id="modfolderbtn" disabled>변경하기</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="DeleteFolderModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="del_folder_msg"></h5>
      </div>
      <div class="modal-body">
        폴더 내의 모든 단어장이 삭제됩니다.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="del_folder_cancle">닫기</button>
        <button type="button" class="btn btn-primary" id="del_folder_btn">삭제하기</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="Godelmodal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">정말 계정을 삭제하시겠습니까?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        계정 내의 모든 데이터가 삭제됩니다.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
        <form method="post" action="/signpage/delete_member">
          <button type="submit" class="btn btn-primary">삭제하기</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ShareFolderModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
  <form action="/voca/share_folder" method="post">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5">폴더 공유</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <span id="sharing_fd_Msg"></span>
          <br>
          <div class="share_info" id="sharing_fd_info"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle share_info_icon" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
          </svg><span id="sharing_fd_Msg2"></span></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="sha_fd_cancle">취소</button>
          <input type="button" class="btn btn-primary" id="sharing_fd_Btn" />
        </div>
      </div>
    </div>
  </form>
</div>

<div class="modal fade" id="ModifyFileModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">단어장명 변경</h5>
      </div>
      <div class="modal-body">
        <input type="text" name="new_fl_name" placeholder="변경하실 단어장 이름을 입력해주세요"  id="modfileid" class="form-control is-val w100" minlength="1" maxlength="21" onkeyup="isValid('text','modfile',20)" />
        <div class="invalid-feedback">
          단어장명은 1~20자로 해주세요
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="mod_file_cancle">닫기</button>
        <button type="button" class="btn btn-primary" id="modfilebtn" disabled>변경하기</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="DeleteFileModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">단어장 삭제</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        정말 삭제하시겠습니까? 단어장 내 모든 데이터가 삭제됩니다.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="del_file_cancle">취소</button>
        <input type="button" class="btn btn-primary" value="삭제" id="del_file_btn" />
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ShareFileModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">단어장 공유</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <span id="sharing_file_Msg"></span>
        <br />
        <div class="share_info" id="sharing_file_info"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle share_info_icon" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
        </svg><span id="sharing_file_Msg2"></span></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="sha_file_cancle">취소</button>
        <input type="button" class="btn btn-primary" value="공유" id="sharing_file_Btn" />
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="MoveFileModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">이동하실 폴더를 선택해주세요</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body folder_wrapper">
        <div class="now_folder">
          <div class="now_folder_location">
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-folder2-open" viewBox="0 0 16 16">
              <path d="M1 3.5A1.5 1.5 0 0 1 2.5 2h2.764c.958 0 1.76.56 2.311 1.184C7.985 3.648 8.48 4 9 4h4.5A1.5 1.5 0 0 1 15 5.5v.64c.57.265.94.876.856 1.546l-.64 5.124A2.5 2.5 0 0 1 12.733 15H3.266a2.5 2.5 0 0 1-2.481-2.19l-.64-5.124A1.5 1.5 0 0 1 1 6.14V3.5zM2 6h12v-.5a.5.5 0 0 0-.5-.5H9c-.964 0-1.71-.629-2.174-1.154C6.374 3.334 5.82 3 5.264 3H2.5a.5.5 0 0 0-.5.5V6zm-.367 1a.5.5 0 0 0-.496.562l.64 5.124A1.5 1.5 0 0 0 3.266 14h9.468a1.5 1.5 0 0 0 1.489-1.314l.64-5.124A.5.5 0 0 0 14.367 7H1.633z"/>
              </svg>
            </span>
            <span id="move_not_root">
              <span id="move_parent_name">
              </span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-chevron-compact-right"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"
                />
              </svg>
            </span>
            <span id="move_selected_folder_name">
            </span>
          </div>
          <div class="folder_list_wrapper" id="move_folder_list_wrapper_id">
          </div>
        </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="move_file_cancle">취소</button>
        <input type="button" class="btn btn-primary" value="현재 폴더 선택" id="move_file_btn" />
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="MoveFolderModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">이동하실 폴더를 선택해주세요</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body folder_wrapper">
        <div class="now_folder">
          <div class="now_folder_location">
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-folder2-open" viewBox="0 0 16 16">
              <path d="M1 3.5A1.5 1.5 0 0 1 2.5 2h2.764c.958 0 1.76.56 2.311 1.184C7.985 3.648 8.48 4 9 4h4.5A1.5 1.5 0 0 1 15 5.5v.64c.57.265.94.876.856 1.546l-.64 5.124A2.5 2.5 0 0 1 12.733 15H3.266a2.5 2.5 0 0 1-2.481-2.19l-.64-5.124A1.5 1.5 0 0 1 1 6.14V3.5zM2 6h12v-.5a.5.5 0 0 0-.5-.5H9c-.964 0-1.71-.629-2.174-1.154C6.374 3.334 5.82 3 5.264 3H2.5a.5.5 0 0 0-.5.5V6zm-.367 1a.5.5 0 0 0-.496.562l.64 5.124A1.5 1.5 0 0 0 3.266 14h9.468a1.5 1.5 0 0 0 1.489-1.314l.64-5.124A.5.5 0 0 0 14.367 7H1.633z"/>
              </svg>
            </span>
            <span id="move_not_root2">
              <span id="move_parent_name2">
              </span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-chevron-compact-right"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"
                />
              </svg>
            </span>
            <span id="move_selected_folder_name2">
            </span>
          </div>
          <div class="folder_list_wrapper" id="move_folder_list_wrapper_id2">
          </div>
        </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="move_folder_cancle">취소</button>
        <input type="button" class="btn btn-primary" value="현재 폴더 선택" id="move_folder_btn" />
      </div>
    </div>
  </div>
</div>
<input type="hidden" id="selected_file" />
<input type="hidden" id="selected_file_num" />
<input type="hidden" id="move_selected_folder" />
<input type="hidden" id="move_parent_folder" />
<input type="hidden" id="move_now_folder_name" />
<input type="hidden" id="selected_order" value="0" />

<form id="posting_form" method="post">
  <input type="hidden" name="fd_id" value="<%= fd_id %>" id="post_fd_id" />
  <input type="hidden" name="pr_id" value="<%= pr_id %>" id="post_pr_id" />
  <input type="hidden" name="gpr_id" value="<%= gpr_id %>" />
  <input type="hidden" name="fl_id" id="post_fl_id" />
  <input type="hidden" name="toast" id="post_toast" />
</form>

<script>
  toastLive = document.getElementById("liveToast");
  closeToast = document.getElementById("closeToast");
  toastMsg = document.getElementById("toastMsg");
  if("<%= pr_id %>" == 0){
    document.getElementById("not_root").classList.add("d-none")
    document.getElementById("redirect_back").classList.add("d-none")
    document.getElementById("folder_btn_group").classList.add("d-none")
  }else{
    document.getElementById("not_root").classList.remove("d-none")
    document.getElementById("redirect_back").classList.remove("d-none")
    document.getElementById("folder_btn_group").classList.remove("d-none")
  }

  if("<%= fav %>" == 0){
    document.getElementById("fd_fav_words").innerText = "즐겨찾기 등록"
  }else{
    document.getElementById("fd_fav_words").innerText = "즐겨찾기 해제"
  }

  if("<%= sha %>" == 0){
    document.getElementById("fd_sh_words").innerText = "폴더 공유하기"
    document.getElementById("sharing_fd_info").style = "display : block"
    document.getElementById("fd_sh_words").innerText = "폴더 공유하기"
    document.getElementById("sharing_fd_Msg").innerText = "폴더를 회원들과 공유하시겠습니까?"
    document.getElementById("sharing_fd_Msg2").innerText = '회원들이 알아보기 쉬운 폴더명으로 설정해주세요';
    document.getElementById("sharing_fd_Btn").value = "공유"
  }else{
    document.getElementById("fd_sh_words").innerText = "폴더 공유해제"
    document.getElementById("sharing_fd_info").style = "display : none"
    document.getElementById("fd_sh_words").innerText = "폴더 공유해제"
    document.getElementById("sharing_fd_Msg").innerText = "폴더를 공유 해제 하시겠습니까?"
    document.getElementById("sharing_fd_Btn").value = "공유해제"
  }

  if("<%= toast %>"){
    toastLive.style = "display:block"
    toastMsg.innerText = "<%= toast %>"
  }

  const upbtn = document.getElementById('upbtn');
  const downbtn = document.getElementById('downbtn');

  const fold = (action1, action2) => {
    document.getElementById(action1).style = "display:none";
    document.getElementById(action2).style = "display:inline";
    document.getElementById('folder_list_wrapper_id').classList.toggle('active');
  }

  downbtn.addEventListener("click", () => {
  fold('downbtn','upbtn');
  });

  upbtn.addEventListener("click", () => {
  fold('upbtn', 'downbtn');
  });

  document.getElementById("del_check_btn").addEventListener("click",()=>{
    document.getElementById("del_folder_msg").innerText = "정말 <%= fd_name %> 폴더를 삭제하시겠습니까?"
  })

  document.getElementById('newfolderid').addEventListener('keyup', () =>{
    isValid('text','newfolder',20)
  })

  document.getElementById('newfileid').addEventListener('keyup', () =>{
    isValid('text','newfile',20)
  })

  document.getElementById('modfolderid').addEventListener('keyup', () =>{
    isValid('text','modfolder',20)
  })

  document.getElementById("newfolderbtn").addEventListener("click", () => {
    fetch("/voca/folder_check",{
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        fd_id: "<%= fd_id %>",
        new_fd_name : document.getElementById("newfolderid").value
      }),
    })
    .then((res)=>res.json())
    .then((checked) => {
      if(checked == "0"){
        document.getElementById("create_folder_form").submit();
      }else{
        toastLive.style = "display:block"
        toastMsg.innerText = "해당 폴더내에 같은 폴더명이 존재합니다"
      }
    })
  })

  document.getElementById("newfilebtn").addEventListener("click", () => {
    fetch("/voca/file_check",{
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        fd_id: "<%= fd_id %>",
        new_fl_name: document.getElementById("newfileid").value,
      }),
    })
    .then((res)=>res.json())
    .then((checked) => {
      if(checked == "0"){
        document.getElementById("new_fl_fd_id").value = "<%= fd_id %>";
        document.getElementById("new_file_form").submit();
      }else{
        toastLive.style = "display:block"
        toastMsg.innerText = "해당 폴더내에 같은 단어장명이 존재합니다"
      }
      
    })
  })

  document.getElementById("modfolderbtn").addEventListener("click", () => {
    const modfoldername = document.getElementById("modfolderid").value
    fetch("/voca/parent_check",{
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        fd_id: "<%= fd_id %>",
        new_fd_name : modfoldername
      }),
    })
    .then((res)=>res.json())
    .then((checked) => {
      if(checked == "0"){
        fetch("/voca/modify_folder",{
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            fd_id: "<%= fd_id %>",
            new_fd_name : modfoldername
          }),
        })
        .then((res)=>res.json())
        .then((changed) => {
          toastLive.style = "display:block"
          toastMsg.innerText = "폴더명이 변경되었습니다"
          document.getElementById("mod_folder_cancle").click()
          document.getElementById("selected_folder_name").innerText = modfoldername
        })
      }else{
        toastLive.style = "display:block"
        toastMsg.innerText = "해당 폴더내에 같은 폴더명이 존재합니다"
      }
    })
  })

  document.getElementById("modfilebtn").addEventListener("click", () => {
    const fl_id = document.getElementById("selected_file").value;
    const modfilename = document.getElementById("modfileid").value;
    fetch("/voca/file_check",{
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        fd_id: "<%= fd_id %>",
        new_fl_name: modfilename
      }),
    })
    .then((res)=>res.json())
    .then((checked) => {
      if(checked == "0"){
        fetch("/voca/modify_file",{
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            fl_id: fl_id,
            new_fl_name: modfilename
          }),
        })
        .then((res)=>res.json())
        .then((changed) => {
          toastLive.style = "display:block"
          toastMsg.innerText = "단어장명이 변경되었습니다"
          document.getElementById("mod_file_cancle").click()
          document.getElementById("file_name"+fl_id).innerText = modfilename
        })
      }else{
        toastLive.style = "display:block"
        toastMsg.innerText = "해당 폴더내에 같은 단어장명이 존재합니다"
      }
    })
  })

  document.getElementById("del_folder_btn").addEventListener("click", () => {
    document.getElementById("posting_form").action = "/voca/delete_folder"
    document.getElementById("posting_form").submit();
  })

  document.getElementById("del_file_btn").addEventListener("click", () => {
    const selected_file = document.getElementById("selected_file").value
    fetch("/voca/delete_file",{
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        fl_id: selected_file,
      }),
    })
    .then((res)=>{
      toastLive.style = "display:block"
      toastMsg.innerText = "단어장이 삭제되었습니다"
      document.getElementById("del_file_cancle").click()
      document.getElementById("file_id" + selected_file).style.display = "none"
    })
  })

  document.getElementById("sharing_file_Btn").addEventListener("click",() => {
    document.getElementById("post_fl_id").value = document.getElementById("selected_file").value
    document.getElementById("posting_form").action = "/voca/share_file"
    document.getElementById("posting_form").submit();
  })

  document.getElementById("sharing_fd_Btn").addEventListener("click",() => {
    fetch("/voca/share_folder",{
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        fd_id: "<%= fd_id %>"
      }),
    })
    .then((res) => res.json())
    .then((sha) => {
      if(sha == 0){
        toastLive.style = "display:block"
        toastMsg.innerText = "공유가 해제되었습니다"
        document.getElementById("sha_fd_cancle").click()
        document.getElementById("sharing_fd_info").style = "display : block"
        document.getElementById("fd_sh_words").innerText = "폴더 공유하기"
        document.getElementById("sharing_fd_Msg").innerText = "폴더를 회원들과 공유하시겠습니까?"
        document.getElementById("sharing_fd_Msg2").innerText = '회원들이 알아보기 쉬운 폴더명으로 설정해주세요';
        document.getElementById("sharing_fd_Btn").value = "공유"

      }else{
        toastLive.style = "display:block"
        toastMsg.innerText = "폴더가 공유되었습니다"
        document.getElementById("sha_fd_cancle").click()
        document.getElementById("sharing_fd_info").style = "display : none"
        document.getElementById("fd_sh_words").innerText = "폴더 공유해제"
        document.getElementById("sharing_fd_Msg").innerText = "폴더를 공유 해제 하시겠습니까?"
        document.getElementById("sharing_fd_Btn").value = "공유해제"
      }
      
    })
  })

  document.getElementById("fd_fav_btn").addEventListener("click", () => {
    fetch("/voca/favorites_folder", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        fd_id: "<%= fd_id %>"
      }),
    })
      .then((res) => res.json())
      .then((fav) => {
        if (fav == 0) {
          toastLive.style = "display:block";
          toastMsg.innerText = "즐겨찾기가 해제되었습니다";
          document.getElementById("fd_fav_img").src = "/icons/star0.png";
          document.getElementById("fd_fav_words").innerText = "즐겨찾기 등록";
        } else {
          toastLive.style = "display:block";
          toastMsg.innerText = "즐겨찾기에 등록되었습니다";
          document.getElementById("fd_fav_img").src = "/icons/star1.png";
          document.getElementById("fd_fav_words").innerText = "즐겨찾기 해제";
        }
      });
  });

  const selectFile = (file_id) => {
    document.getElementById("selected_file").value = file_id;
  };

  const selectMove = (fd_id, pr_id, fd_name) => {
    document.getElementById("move_selected_folder").value = fd_id;
    if(pr_id){
      document.getElementById("move_parent_folder").value = pr_id;
      document.getElementById("move_now_folder_name").value = fd_name;
    }else{
      document.getElementById("move_parent_folder").value = '0';
      document.getElementById("move_now_folder_name").value = 'Home';
    }
    
    fetch("/voca/load_list", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        fd_id: fd_id,
        pr_id: document.getElementById("move_parent_folder").value,
      }),
    })
      .then((res) => res.json())
      .then((list) => { 
        if (list[2][0]) {
          document.getElementById("move_not_root").style = "display:inline";
          fd_id2 = list[2][0].folder_id;
          pr_id2 = list[2][0].parent_id;
          fd_name2 = list[2][0].folder_name;
          document.getElementById("move_parent_name").innerText = list[2][0].folder_name;
          document.getElementById("move_selected_folder_name").innerText = fd_name;
        } else {
          fd_id2 = '';
          pr_id2 = '';
          fd_name2 = '';
          document.getElementById("move_not_root").style = "display:none";
          document.getElementById("move_selected_folder_name").innerText = "Home";
        }

        let folder_list = list[0];

        let show_folder = `
          <div class="folder cursor" id="move_redirect_back" onclick="selectMove('${fd_id2}','${pr_id2}','${fd_name2}')">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4z"/>
            </svg> 상위 폴더로
          </div>
          `;

        for (let i = 0; i < folder_list.length; i++) {
          show_folder += `
            <button class="folder cursor" type="button" onclick="selectMove('${folder_list[i].folder_id}','${folder_list[i].parent_id}','${folder_list[i].folder_name}')">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16">
                <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4H2.19zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z"/>
              </svg>
              ${folder_list[i].folder_name}
            </button>
            `;
        }

        document.getElementById("move_folder_list_wrapper_id").innerHTML = show_folder;
        if (pr_id == 0) {
          document.getElementById("move_redirect_back").classList.add("dnone");
        }
      })
  };

  const selectMove2 = (fd_id, pr_id, fd_name) => {
    document.getElementById("move_selected_folder").value = fd_id;
    if(pr_id){
      document.getElementById("move_parent_folder").value = pr_id;
      document.getElementById("move_now_folder_name").value = fd_name;
    }else{
      document.getElementById("move_parent_folder").value = '0';
      document.getElementById("move_now_folder_name").value = 'Home';
    }
    

    fetch("/voca/load_list", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        fd_id: fd_id,
        pr_id: document.getElementById("move_parent_folder").value,
      }),
    })
      .then((res) => res.json())
      .then((list) => { 
        if (list[2][0]) {
          document.getElementById("move_not_root2").style = "display:inline";
          fd_id2 = list[2][0].folder_id;
          pr_id2 = list[2][0].parent_id;
          fd_name2 = list[2][0].folder_name;
          document.getElementById("move_parent_name2").innerText = list[2][0].folder_name;
          document.getElementById("move_selected_folder_name2").innerText = fd_name;
        } else {
          fd_id2 = '';
          pr_id2 = '';
          fd_name2 = '';
          document.getElementById("move_not_root2").style = "display:none";
          document.getElementById("move_selected_folder_name2").innerText = "Home";
        }

        let folder_list = list[0];

        let show_folder = `
          <div class="folder cursor" id="move_redirect_back2" onclick="selectMove2('${fd_id2}','${pr_id2}','${fd_name2}')">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4z"/>
            </svg> 상위 폴더로
          </div>
          `;

        for (let i = 0; i < folder_list.length; i++) {
          show_folder += `
            <button class="folder cursor" type="button" onclick="selectMove2('${folder_list[i].folder_id}','${folder_list[i].parent_id}','${folder_list[i].folder_name}')">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16">
                <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4H2.19zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z"/>
              </svg>
              ${folder_list[i].folder_name}
            </button>
            `;
        }

        document.getElementById("move_folder_list_wrapper_id2").innerHTML = show_folder;
        if (pr_id == 0) {
          document.getElementById("move_redirect_back2").classList.add("dnone");
        }

      })
  };

  document.getElementById("move_file_btn").addEventListener("click", () => {
    fetch("/voca/move_file",{
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        fd_id: document.getElementById("move_selected_folder").value,
        fl_id: document.getElementById("selected_file").value,
      }),
    })
    .then((res)=>{
      document.getElementById("post_toast").value = "단어장이 이동되었습니다"
      document.getElementById("posting_form").action = "/voca/main"
      document.getElementById("posting_form").submit();
    })
  })

  document.getElementById("move_folder_btn").addEventListener("click", () => {
    if("<%= fd_id %>" == document.getElementById("move_selected_folder").value){
      toastLive.style = "display:block";
      toastMsg.innerText = "여기는 안돼요!";
      return selectMove2("<%= fd_id %>","<%= pr_id %>","<%= fd_name %>");
    }
    fetch("/voca/move_folder",{
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        fd_id: "<%= fd_id %>",
        mv_fd_id: document.getElementById("move_selected_folder").value,
      }),
    })
    .then((res)=>{
      document.getElementById("post_fd_id").value = "<%= pr_id %>"
      document.getElementById("post_pr_id").value = "<%= gpr_id %>"
      document.getElementById("post_toast").value = "폴더가 이동되었습니다"
      document.getElementById("posting_form").action = "/voca/main"
      document.getElementById("posting_form").submit();
    })
  })

  const sharingFile = (file_id, sha, i) => {
    document.getElementById("selected_file").value = file_id;
    document.getElementById("selected_file_num").value = i;
    if (sha == 0) {
      document.getElementById("sharing_file_Btn").value = "공유";
      document.getElementById("sharing_file_info").style = "display:block";
      document.getElementById("sharing_file_Msg").innerText =
        "단어장을 회원들과 공유하시겠습니까?";
      document.getElementById("sharing_file_Msg2").innerText =
        "회원들이 알아보기 쉬운 단어장명으로 설정해주세요";
    } else {
      document.getElementById("sharing_file_Btn").value = "공유해제";
      document.getElementById("sharing_file_info").style = "display:none";
      document.getElementById("sharing_file_Msg").innerText =
        "단어장 공유를 해제하시겠습니까?";
    }
  };

  const goFav = (file_id, i) => {
    fetch("/voca/favorites_file", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        fl_id: file_id,
      }),
    })
      .then((res) => res.json())
      .then((fav) => {
        if (fav == 0) {
          toastLive.style = "display:block";
          toastMsg.innerText = "즐겨찾기가 해제되었습니다";
          document.getElementById("file_fav_img" + i).src = "/icons/star0.png";
        } else {
          toastLive.style = "display:block";
          toastMsg.innerText = "즐겨찾기에 등록되었습니다";
          document.getElementById("file_fav_img" + i).src = "/icons/star1.png";
        }
      });
  };
</script>
