<div class="voca_main">
  <div class="load_page_btn_area">
    <input type="button" value="홈으로" class="btn btn-outline-dark" onclick="location.href='/voca'">
    <form action="/voca/voca_study" method="post" class="din">
      <input type="hidden" name="fl_id" value="<%= fl_id %>" />
      <input type="submit" value="공부하기" class="btn btn-outline-dark">
    </form>
  </div>
  <% for(let i=0; i<loadlist.length; i++){ %>
    <div class="loaded_data" data-scroll>
      <span class="datanum"><%- i+1 %></span>
      <input type="hidden" value="<%= loadlist[i].data_id %>" />
      <div class="data_box">
        <div class="data_type data_underline">
          단어or표현
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-volume-down-fill mb-1 cursor" viewBox="0 0 16 16" onclick="listen('<%= loadlist[i].voca %>')">
            <path d="M9 4a.5.5 0 0 0-.812-.39L5.825 5.5H3.5A.5.5 0 0 0 3 6v4a.5.5 0 0 0 .5.5h2.325l2.363 1.89A.5.5 0 0 0 9 12V4zm3.025 4a4.486 4.486 0 0 1-1.318 3.182L10 10.475A3.489 3.489 0 0 0 11.025 8 3.49 3.49 0 0 0 10 5.525l.707-.707A4.486 4.486 0 0 1 12.025 8z"/>
          </svg>
        </div>
        <div class="data data_underline">
          <b><%= loadlist[i].voca %></b>
        </div>
      </div>
      <div class="data_box">
        <div class="data_type data_underline">
          단어 뜻  
        </div>
        <div class="data data_underline">
          <%= loadlist[i].voca_mean %>
        </div>
      </div>
      <div class="data_box">
        <div class="data_type data_underline">
          예문
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-volume-down-fill mb-1 cursor" viewBox="0 0 16 16" onclick="listen('<%= loadlist[i].exam %>')">
            <path d="M9 4a.5.5 0 0 0-.812-.39L5.825 5.5H3.5A.5.5 0 0 0 3 6v4a.5.5 0 0 0 .5.5h2.325l2.363 1.89A.5.5 0 0 0 9 12V4zm3.025 4a4.486 4.486 0 0 1-1.318 3.182L10 10.475A3.489 3.489 0 0 0 11.025 8 3.49 3.49 0 0 0 10 5.525l.707-.707A4.486 4.486 0 0 1 12.025 8z"/>
          </svg>
        </div>
        <div class="data data_underline">
          <%= loadlist[i].exam %>
        </div>
      </div>
      <div class="data_box">
        <div class="data_type">
          예문 뜻  
        </div>
        <div class="data">
          <%= loadlist[i].exam_mean %>
        </div>
      </div>
    </div>
  <% } %>
</div>